.catButtons {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.catButtons p {
    font-size:x-large;
    font-weight: bold;
}

.message {
    font-weight: bold;
    background-color: red;
    justify-content: flex-end;
}