/* Navbar CSS */
.navbar {
    background-color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .navbarFixed {
    background-color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: -1;
    transition: 2500ms;
  }
  
  .navbarFixed.active {
    transition: 50ms;
    z-index: 1;
  }
  
  .nav-menu {
    background-color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 450ms;
  }
  
  .nav-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    
  }
  
  .nav-icon a {
    text-decoration: none;
    color: #2e2c2c;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-icon a:hover {
    background-color: #000000;
    color: #fff;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #2e2c2c;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #000000;
    color: #fff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  